body{
    background-color:darkgrey;
    margin: 0px auto;
}
.game{
    width: 550px;
    height: 800px;
    background-color:rgb(80, 80, 80);
    margin: 0px auto; /* 上0，左右auto 边距 */
    position: relative;
}
.background {
    width: 400px;
    height: 800px;
    background-color:black;
    position: relative;
    top: auto;
    left: auto;
}
.cell{
    width: 40px;
    height: 40px;
    background-color: aqua;
    border: 0.3px solid white;
    box-sizing: border-box;
    /* box-sizing: border-box  内容的宽 = width - border + padding */
    /* box-sizing: content-box 内容的宽 = width */ 
    position: absolute;
}
.frozen_cell
{
    width: 40px;
    height: 40px;
    background-color:darkgray ;
    border: 0.3px solid darkslategray;
    box-sizing: border-box;
    /* box-sizing: border-box  内容的宽 = width - border + padding */
    /* box-sizing: content-box 内容的宽 = width */ 
    position: absolute;
}
.next{
    position: absolute;
    left: 400px;
    top: 0px;

    width: 150px;
    height: 150px;

    background-color:dimgrey;
    border: 1px solid rgb(80, 80, 80);
    box-sizing: border-box;
}
.next_continer{
    width: 100px;
    height: 100px;

    background-color: rgb(133, 133, 133);
    
    position: relative;
    margin: 25px 25px;
}
.cell_next{
    width: 25px;
    height: 25px;
    background-color: aqua;
    border: 0.3px solid white;
    box-sizing: border-box;
    position: absolute;
}
.score_box{
    position: absolute;
    left: 400px;
    top: 150px;
    
    width: 150px;
    height: 50px;

    background-color:dimgrey;
    /* border: 1px solid rgb(80, 80, 80);
    box-sizing: border-box; */
}
.score{
    width: 100%;
    height: 50%;

    text-align: center;
    line-height: 125%;

    border: 1px solid rgb(80, 80, 80);
    box-sizing: border-box;
    /* background-color:rgb(255, 0, 0); */
}
.game_button{
    width: 550px;
    height: 150px;
    /* background-color:rgb(80, 80, 80); */
    margin: 0px auto; /* 上0，左右auto 边距 */
    position: relative;
}
.button{
    position:absolute;
    top: 0px;
    left: 0px;

    width: 275px;
    height: 75px;

    color: #fff !important; 
    font-weight: bold;
    text-decoration: none;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 25px;

    background-color: #a4cf6c;
    box-shadow: 0 0 20px #526836 inset;
    border-color: transparent;
    /* border: 5px solid #d0ff92; */
    /* border-radius: 10px #d0ff92; */

    box-sizing: border-box;
}
.button:active{
    box-shadow: 0 0 100px #526836 inset;
    
}
